/* mobile */

.main-superior {
	
	background-image: url("../img/main-sup-bg.jpeg");
	background-size: cover;

}

.contenedor-h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 85%;
	margin: auto;
	height: 34vh;
}

.contenedor-h2 h2 {
	text-align: center;
	font-weight: 600;
	font-size: 25px;
	padding-top: 20px;
}

.contenedor-btn {
	height: 25vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedor-btn a {
	border: solid 2px;
	border-color: #fbf117;
	background-color: #00913C;
	color: white;
	border-radius: 25px;
	width: 300px;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	font-weight: 700;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}

.main-inferior {
	background-color: #00913c;
	height: 25vh;
}

.contenedor-p {
	width: 85%;
	margin: 0 auto;
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.contenedor-p p {
	margin: 0;
	color: black;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	

}

.contenedor-p p span {
	color: #fbf117;
	font-weight: bold;
}

/* desktop */

@media (min-width: 1024px) {
	
	.main-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 85%;
		margin: 0 auto;
	}
		
	.main-superior {
		background-image: url("../img/main-sup-bg-dk.jpg");
		background-position: center;
	}

	.contenedor-h2 {
		height: auto;
	}

	.contenedor-btn {
		height: auto;
	}

	.contenedor-h2 h2 {
		color: black;
		font-size: 48px;
		line-height: 72px;
	}
	
	.side-right {
		position: relative;
	}

	.img-atras {
		margin-top: 40px;
		position: absolute;
		right: 0;
		background-image: url("../img/atras.jpg");
		background-size: cover;
		border: solid 2px;
		border-color: black;
		border-radius: 23px;
		width: 25vw;
		height: 0;
		padding-top: 25vw;
	}

	.img-adelante {
		margin-top: 40px;
		position: absolute;
		left: 15%;
		top: 15%;	
		background-image: url("../img/adelante.jpg");
		background-size: cover;
		border: solid 2px;
		border-color: black;
		border-radius: 23px;
		width: 25vw;
		height: 0;
		padding-top: 25vw;
	}

	.contenedor-btn {
		display: flex;
		justify-content: right;
		margin-bottom: 70px;

	}
	

	.main-inferior {
		height: auto;
		padding: 40px 0 40px 0;
	}

	.contenedor-h2 {
		display: flex;
		justify-content: right;
		margin-right: 0;
	}

	.contenedor-p {
		width: 50%;
	}

	.contenedor-p p {
		font-size: 36px;
		line-height: 54px;
	}

}

/* MAX DK */
@media (min-width: 1800px) {
	.img-adelante {
	display: none;
		
}

.img-atras {
	position: static;
	
	margin: 40px auto;
}

}
