.main-superior {
	min-height: 50vh;
	background-image: url("../img/main-sup-bg.jpeg")

}

.contenedor-h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90%;
	margin: auto;
	height: 25vh;
}

.contenedor-h2 h2 {
	text-align: center;
	font-weight: 600;
	font-size: 24px;
}

.contenedor-btn {
	height: 25vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedor-btn button {
	border-style: solid 2px;
	border-color: #fbf117;
	background-color: #00913C;
	color: white;
	border-radius: 25px;
	width: 300px;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	font-weight: 700;
	padding: 10px;
}
