.container-form {
	width: 85%;
	margin: 0 auto;
}

.form-p {
	color: #045827;
	font-size: 20px;
	text-align: center;
}

.form-col-1 h3 {
	color: black;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	text-decoration: underline #045827;
	text-decoration-thickness: 2px;
}

.p-consulta {
	color: #00240F;
	font-size: 24px;
	text-align: center;
}

label {
	color: black;
	display: block;
}

input {
	width: 100%;
	
	font-size: 14px;
	padding: 15px;
	border-radius: 25px;
	border: solid 1px;
	border-color: #00913C;	
}

textarea {
	width: 100%;
	font-size: 14px;
	padding: 15px;
	border-radius: 25px;
	border: solid 1px;
	border-color: #00913C;	


}

.submit {
	background: white;
	border: solid 3px;
	border-color: #00913c;
	border-radius: 23px;
	width: 100%;
	padding: 5px;
	font-size: 24px;
	font-family: 'Poppins', sans-serif;
	margin-top: 10px;
}
